每日ai早报.yml
app:
  description: 总结橘鸦每日的推送，将总结结果发送到指定邮箱
  icon: 360c9cb2-1b40-4d51-afe2-3d3a393f3fb8
  icon_background: ''
  icon_type: image
  mode: workflow
  name: 每日ai早报
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openrouter:0.0.54@fea0bb6f5208e9c654bd8114c93582760994a7406355512c3381bd8b723498b7
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 1778808333821-source-1778808755787-target
      source: '1778808333821'
      sourceHandle: source
      target: '1778808755787'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1778808755787-source-1778807831635-target
      source: '1778808755787'
      sourceHandle: source
      target: '1778807831635'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 1778807831635-source-1779065799447-target
      source: '1778807831635'
      sourceHandle: source
      target: '1779065799447'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: http-request
      id: 1779081346262-source-1778808333821-target
      source: '1779081346262'
      sourceHandle: source
      target: '1778808333821'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1779065799447-source-1779081391854-target
      source: '1779065799447'
      sourceHandle: source
      target: '1779081391854'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek/deepseek-v4-flash
          provider: langgenius/openrouter/openrouter
        prompt_template:
        - id: 81c465a7-577b-457e-8f06-c46a80ba69e2
          role: system
          text: "你是一位大语言模型领域的专家。{{#1778808755787.result#}}是每日更新的AI方面的新闻。请根据这些新闻内容为我总结，并以电子邮件的形式输出1000字左右的总结结果以及一百字左右的趋势洞察。注意：只输出电子邮件正文的内容，不要输出任何其他信息，不需要开场白，不需要问候语，直接输出内容。\n\
            输出示例：\n'''  \n### 一、 开发生态：工具进化与面向 Agent 的原生语言\n\n* **OpenAI Codex 迎来重大更新：**\n\
            * **功能与体验优化：** 针对用户反馈，Codex 现已支持**自定义键盘快捷键**，方便开发者定制个人工作流。同时，Git 关键操作（如提交、推送、分支、PR\
            \ 创建等）已被移回审查流程中更触手可及的位置；线程面板头像和本地服务器列表也获得了更整洁的加载与过滤优化。\n* **性能大幅提升：**\
            \ 官方数据显示，在大型仓库下，**Git 操作速度提升了约 10 至 50 倍**，显著减少了 UI 卡顿，启动与首次交互更快；切换线程时的**重渲染降低了约\
            \ 75%**，部分流路径实现了零无谓重渲染。\n\n\n* **Codex 修复 GPT-5.5 性能问题并补偿额度：**\n针对过去约\
            \ 48 小时内部分用户反映的 **GPT-5.5 模型性能下降**（能力变差）问题，Codex 团队确认已定位并修复了两个核心 Bug。作为补偿，官方已于北京时间\
            \ 17 日凌晨**重置了所有付费计划的使用额度限制**（部分账户可能存在传播延迟，团队正在排查）。\n* **Vercel Labs 推出面向\
            \ Agent 的新语言 \"Zero\"：**\nVercel Labs 在 GitHub 上开源了一款专门面向 AI Agent 开发与运行需求的实验性编程语言——Zero。该语言被定位为**系统级语言**，旨在构建更小、更快的原生工具。它具备显式能力、可预测内存以及结构化的编译器输出（提供\
            \ JSON 诊断）。目前该项目处于频繁变动的实验阶段，虽提供了安装脚本和 VSCode 插件，但语言本身尚未稳定，主要供开发者试用。\n\n\
            ### 二、 产品应用：AI 深度融入个人知识管理\n\n* **微信读书推出 AI 助手 Skill：**\n微信读书官方上线了“微信读书\
            \ AI 助手”Skill。用户下载指定的 Skill 安装包发送给 AI 助手，并使用个人可见的 API Key 完成配置连接账号后，即可让\
            \ AI 随时查阅个人书架、分析阅读时长与偏好数据、搜索书籍详情，并**支持查看和导出个人的划线与读书笔记**，实现了阅读资产的智能化管理。\n\
            \n### 三、 行业动态：普惠 AI 与算力商品化\n\n* **OpenAI 与马耳他政府合作：**\n双方达成了一项被官方称为“全球首创”的合作伙伴关系。马耳他公民在完成由马耳他大学开发的\
            \ AI 素养课程培训后，可由马耳他数字创新局分发账号，获得**为期一年的 ChatGPT Plus 免费访问权限**。该项目第一阶段于 5\
            \ 月启动，后续将逐步扩大至更多居民及海外侨民。\n* **上海电信上线 Token 算力服务：**\n在中国电信第六届科技节上海站上，上海电信正式推出\
            \ Token 算力服务。用户可通过 API 调用 30 余款主流大模型，并发布了多档资费套餐，**支持话费支付**（1 元可享 25 万额度点）。同时，限量向上海手机号用户提供有效期一个月、额度为\
            \ **2500 万的免费体验活动**。\n\n---\n\n## 趋势洞察\n\n本期动态映射出两个核心趋势：**一是 AI 正在从“外挂工具”走向“原生系统”**，Vercel\
            \ 推出 Agent 专属语言 Zero，意味着行业开始为 AI 智能体构建底层原生基础设施，AI 驱动的软件工程正进入深水区。**二是 AI\
            \ 消费的“普惠化与基建化”**，无论是马耳他政府将 AI 培训与免费算力结合作为公民福利，还是上海电信首创“话费买 Token”，都表明大模型算力正加速演变为像水、电一样的公共个人基础设施。\
            \  \\n\\n\n'''"
        reasoning_format: separated
        selected: false
        structured_output_enabled: false
        title: 邮件内容生成LLM
        type: llm
        vision:
          enabled: false
      height: 86
      id: '1778807831635'
      position:
        x: 1099.7205365780178
        y: 435
      positionAbsolute:
        x: 1099.7205365780178
        y: 435
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        headers: ''
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: true
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求
        type: http-request
        url: https://imjuya.github.io/juya-ai-daily/rss.xml
        variables: []
      height: 135
      id: '1778808333821'
      position:
        x: 434
        y: 435
      positionAbsolute:
        x: 434
        y: 435
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "import re\nfrom datetime import datetime,timedelta\n\ndef main(arg1):\n\
          \    # 获取原始 HTML 内容\n    # 支持字符串直接传入，也支持字典包含 body 字段\n    if isinstance(arg1,\
          \ dict):\n        raw_html = arg1.get(\"body\", \"\")\n    else:\n     \
          \   raw_html = arg1\n    \n    # 1. 动态获取今天的日期 (格式: 2026-05-17)\n    yesterday_str\
          \ = (datetime.now() - timedelta(days=0)).strftime(\"%Y-%m-%d\")\n    \n\
          # 2. 定位今天内容的起始和结束位置 (正则一步到位)\n    # 意思是：匹配今天日期的 title 标签，然后精准抓取后面的内容 (.*?)\n\
          \    # 直到遇到下一个任意日期的 title 标签，或者直接匹配到网页末尾 ($) 为止\n    pattern = rf\"<title>{yesterday_str}</title>(.*?)(?=<title>\\\
          d{{4}}-\\d{{2}}-\\d{{2}}</title>|$)\"\n    \n    # flags=re.DOTALL 让 . 能够匹配换行符\n\
          \    match = re.search(pattern, raw_html, flags=re.DOTALL)\n    \n    if\
          \ not match:\n        return {\"result\": f\"未找到昨天 ({yesterday_str}) 的更新内容。\"\
          }\n    \n    # 直接提取出中间捕获组的内容，已经剔除了日期标签本身\n    day_content = match.group(1)\n\
          \n    # 3. 清洗内容 (纯正则处理)\n    # 移除脚本和样式\n    day_content = re.sub(r'<(script|style).*?>.*?</\\\
          1>', '', day_content, flags=re.DOTALL | re.IGNORECASE)\n    # 移除所有图片标签\n\
          \    day_content = re.sub(r'<img.*?>', '', day_content, flags=re.IGNORECASE)\n\
          \    # 将 </h2> </h3> </li> 等换行标签替换为真正的换行符，便于 AI 阅读\n    day_content = re.sub(r'</(h1|h2|h3|h4|p|li|div)>',\
          \ '\\n', day_content, flags=re.IGNORECASE)\n    # 移除所有剩余的 HTML 标签\n    day_content\
          \ = re.sub(r'<.*?>', '', day_content)\n    \n    # 4. 符号与格式深度清理\n    # 移除\
          \ ↗ 箭头\n    day_content = day_content.replace('↗', '')\n    # 移除 #1, #2\
          \ 这种编号\n    day_content = re.sub(r'#\\d+', '', day_content)\n    # 移除常见的\
          \ HTML 转义符\n    day_content = day_content.replace('&nbsp;', ' ').replace('&gt;',\
          \ '>').replace('&lt;', '<')\n    # 清理多余的空白行\n    lines = [line.strip() for\
          \ line in day_content.split('\\n') if line.strip()]\n    final_text = '\\\
          n'.join(lines)\n\n    return {\n        \"result\": final_text,\n      \
          \  \"date\": yesterday_str\n    }"
        code_language: python3
        outputs:
          date:
            children: null
            type: string
          result:
            children: null
            type: string
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - '1778808333821'
          - body
          value_type: string
          variable: arg1
      height: 50
      id: '1778808755787'
      position:
        x: 780
        y: 435
      positionAbsolute:
        x: 780
        y: 435
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek/deepseek-v4-flash
          provider: langgenius/openrouter/openrouter
        prompt_template:
        - id: 6e58bc86-c671-4f08-92b1-b733af023793
          role: system
          text: '你是一位大语言模型领域的专家。{{#1778807831635.text#}}是将发给用户的每日更新的ai方面的新闻。请根据这些新闻内容为我总结，并以电子邮件的消息主题的形式输出。注意：只输出电子邮件标题，不要输出任何其他信息，将日期改为今天的日期{{#1778808755787.date#}}。

            样例输出：AI早报 {{#1778808755787.date#}}：Claude Code 迎新功能；OpenBMB 发布开源多模态模型；OpenCode
            宣布 DeepSeek V4 Flash 限免'
        reasoning_format: separated
        selected: false
        title: 邮件主题生成LLM
        type: llm
        vision:
          enabled: false
      height: 86
      id: '1779065799447'
      position:
        x: 1400.7205365780178
        y: 435
      positionAbsolute:
        x: 1400.7205365780178
        y: 435
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        selected: false
        title: 用户输入
        type: start
        variables: []
      height: 71
      id: '1779081346262'
      position:
        x: 111.13927220393924
        y: 414
      positionAbsolute:
        x: 111.13927220393924
        y: 414
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1779065799447'
          - text
          value_type: string
          variable: title
        - value_selector:
          - '1778807831635'
          - text
          value_type: string
          variable: content
        - value_selector:
          - '1778808755787'
          - date
          value_type: string
          variable: news_date
        selected: false
        title: 输出
        type: end
      height: 138
      id: '1779081391854'
      position:
        x: 1738.588097541381
        y: 435
      positionAbsolute:
        x: 1738.588097541381
        y: 435
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: -22.334307448556387
      y: -32.78634470618448
      zoom: 0.7922348109249692
  rag_pipeline_variables: []
